body {
    height: 100%;
    margin: 0;
}
.welcome{
    background-color: #0e1317;
    width: 1920px;
    height: 40px;
}
.text{
    font-size: 15px;
    color: #c8a96a;
    text-align: center;
    font-family: ' Regular';
    padding: 13px;
}
menu{
    margin: 0;
    background-image: url('./images/62.png') ;
    /* background-color: #090c0f; */
    width: 1880px;
    height: 94px;
    padding-top: 2px;
    margin-top: -3px;
    position: relative;
}
menu .logo{
    padding: 25px;
    margin-left: 300px;
}
menu .home{
    padding-bottom: 35px;
}
menu ul{
    list-style: none;
    display: inline-flex;
    position: absolute;
    margin: 35px 0px 0px 70px;
}
menu ul li{
    margin-left: 50px;
}
menu ul li a{
    color: #ffffff;
    font-family: ' Regular';
    text-decoration: none;
}
menu ul li a i{
    position: absolute;
    margin: 5px 0px 0px 5px;
    font-size: 12px;
}

menu button{
    background-color: #c8a96a;
    color: #ffffff;
    margin:  18px 300px 0 ;
    float: right;
    height: 57px;
    width: 190px;
    border-radius: 7px;
    border: none;
}
menu button i{
    font-size: 12px;
}
header .contact{
    position: relative;
}
header .contact span{
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-family: ' Regular';
    margin: 120px 0px 0px 850px;
    font-size: 50px;
}
header .contact .contact-home{
    position: absolute;
    margin-left: 750px ;
    margin-top: -50px;
}
header .contact .contact-home p {
    position: absolute;
    color: #1d1d1d;
    margin: -85px 0px 0px 170px;
    font-family: ' Regular';
}
header .contact .contact-home p code {
    color: #c8a96a;
    font-family: ' Regular';
}
.container{
    margin: 130px 300px 0px 300px;
    width: 1290px;
    display: flex;
}
.container .contact{
    width: 550px;
    color: #ffffff;
    height: 750px;
    border: 1px solid #e6e6e7;
}
.container .contact .content{
    margin:77px 0px 0px 85px;
}
.container .contact .content .text{
    text-align: left;
    margin-left: -15px;
    line-height: 32px;
    font-size: 16px;
}
.container .contact .content p{
    color: #1d1d1d;
    font-family: ' Regular';
    font-size: 40px;
}
.container .contact .content .infor{
   width: 100%;
   height: 90px;
   margin-top: 40px;
}
.container .contact .content .infor .tittle{
    color: #696969;
    font-size: 18px;
    margin: -50px 0px 0px 76px;
 }
 .container .contact .content .infor .detail{
    color: #1d1d1d;
    font-size: 20px;
    margin: 20px 0px 0px 76px;
    line-height: 28px;
 }
/* .container.contact{
    color: #696969;
    text-align: left;
} */
.container .message{
    margin-left: 80px;
    width: 660px;
    background-color: #f9f6f0;
    float: right;
    height: 750px;
}
.message .content{
    margin:77px 0px 0px 80px;
}
.container .message form{
    width: 501px;
    height: 381px;
}
.container .message form input{
    width: 501px;
    height: 72px;
    margin-top: 16px;
}
.container .message  .writemessage{
    height: 130px;
}
/* .container .message .writemessage ::placeholder{
    position: absolute;
   margin: -30px 0px 0px 0px;
} */
.container .message form button{
    background-color: #b68c5a;
    color: #ffffff;
    font-size: 15px;
    margin-top: 16px;
    padding: 20px 42px 20px 43px;
    border: none;
    width: 235px;
}
.container .message form button i{
    color: #ffffff;
    margin: 0px 0px 0px 10px;
}
.container .message form i{
    position: absolute;
    margin: -47px 0px 0px 470px;
    color: #c8a96a;
}
::placeholder {
    color: #1d1d1d;
    line-height: 120px;
    font-size: 18px;
    font-weight:bold ;
    padding-left: 31px;
}
.container .map{
    margin-top: 900px;
    position:absolute;
}
.container .map .location{
    position:absolute;
    margin: 170px 0px 0px 610px;
}
.banner{
    width: 1920px;
    height: 240px;
    background-color: #f9f6f0;
    margin-top: 855px;
}
.banner .images{
    margin: 0px 0px 0px 315px;
    padding-top: 75px;
}
footer{
    width: 1920px;
    height: 705px;
    background-color: #090c0f;
    display: block;
    position: relative;
}
footer .logo {
    padding:80px 0px 0px 810px;
}
footer .logo p{
    color:#ffffff;
    font-size: 70.29px;
    font-family: ' Regular';
    margin: -65px 0px 0px 90px;
}
footer .images{
    position: absolute;
}
footer .images .hinhanh1{
    position: absolute;
    margin: -50px 0px 0px 125px;
}
footer .images .hinhanh2{
    position: absolute;
    margin: 350px 0px 0px 75px;
}
footer .images .hinhanh3{
    position: absolute;
    margin: -50px 0px 0px 1600px;
}
footer .images .hinhanh4{
    position: absolute;
    margin: 350px 0px 0px 1650px;
}
footer .about{
    width: 110px;
    margin-left: 320px;
    margin-top: 75px;
}
footer  p{
   color: #ffffff;
   font-size: 35px;
   line-height: 35px;
}
footer  ul{
    list-style: none;
    margin-left: -35px;
}
footer  ul li{
    color: #ffffff;
    line-height:45px ;
    font-size: 15px;
}
footer .facilities{
    width: 145px;
    margin-left: 560px;
    margin-top: -328px;
}
footer .newsletter{
    width: 388px;
    margin-left: 825px;
    margin-top: -328px;
}
footer .newsletter .infor{
    color: #ffffff;
    line-height:45px ;
    font-size: 15px;
    text-align: left;
}
footer .newsletter .bg{
    background-color: #c8a96a;
    height: 60px;
    width: 60px;
    margin-top: -61px;
    margin-left: 319px;
    position: absolute;
}
footer .newsletter .bg i{
    color: #ffffff;
    margin-top: 25px;
    margin-left: 24px;
}
footer .newsletter input{
    width: 375px;
    height: 59px;
    margin-top: 35px;
    border: none;
}
footer .newsletter ::placeholder{
    color: #333333;
    line-height: 32px;
    font-size: 15px;
}
footer .contact{
    width: 287px;
    margin-left: 1350px;
    margin-top: -328px;
}
footer .contact i{
  padding-right: 20px;
}
footer .background{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 910px;
    margin-top: 70px;
    position: relative;
}
footer .background img{
    margin-left: 25px;
    margin-top: 20px;
}
footer .social p{
    color: #ffffff;
    line-height: 32px;
    font-size: 15px;
    margin-left: 320px;
    margin-top: -25px;
}
footer .social .icons {
    margin-left: 1480px;
    margin-top: -25px;
    display: flex;
}
footer .social .icons .bg {
    background-color: #222527;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 7px;
}
footer .social .icons .bg i {
    margin-left: 25%;
    margin-top: 25%;
}